<aside class="sidebar">
  <div class="brand">
    <div class="logo-badge">T</div>
    <div class="logo-text">TBanco</div>
  </div>

  <ul>
    <li>
      <mat-icon aria-hidden="false">dashboard</mat-icon>
      <span routerLink="/dashboard" routerLinkActive="active" class="menu-label">{{ 'SIDEBAR.DASHBOARD' | translate }}</span>
    </li>
    <li>
      <mat-icon aria-hidden="false">credit_card</mat-icon>
      <span routerLink="/transferencia" routerLinkActive="active" class="menu-label">{{ 'SIDEBAR.TRANSFER' | translate}}</span>
    </li>
    <li>
      <mat-icon aria-hidden="false">payments</mat-icon>
      <span routerLink="/emprestimo" routerLinkActive="active" class="menu-label">{{ 'SIDEBAR.LOAN' | translate}}</span>
    </li>
    <li>
      <mat-icon aria-hidden="false">receipt_long</mat-icon>
      <span routerLink="/transacoes" routerLinkActive="active" class="menu-label">{{ 'SIDEBAR.TRANSACTIONS' | translate}}</span>
    </li>
    <li>
      <mat-icon aria-hidden="false">person</mat-icon>
      <span routerLink="/perfil" routerLinkActive="active" class="menu-label">{{ 'SIDEBAR.PROFILE' | translate}}</span>
    </li>
  </ul>
</aside>
